{% extends 'base.html' %}
{% load static %}

{% block content %}
{% for person in person %}

<header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                {% if person.image %} 
                <!-- Masthead Avatar Image--><img class="masthead-avatar mb-4" src="{{ person.image.url }}" alt="">
                {% endif %}
                <!-- Masthead Heading-->
                <h3 class="mb-0">{{ person.name }}.</h3>
                <!-- Masthead Subheading-->
                <p class="pre-wrap masthead-subheading font-weight-light mb-0">{{ person.role }}</p>
                <!-- Icon Divider-->
                <div class="divider-custom divider-dark">
                    <div class="divider-custom-line"></div>
                    <a class="floating js-scroll-trigger" href="#section-end"><div class="divider-custom-icon"><i class="fas fa-angle-double-down"></i></div></a>
                    <div class="divider-custom-line"></div>
                </div>
            </div>
        </header>
        <div id="section-end"></div>
      
        <!-- PROJECTS SECTION -->
        <section class="page-section" id="projects">
            <div class="container">
                <!-- Projects Section Heading-->
                <div class="text-center">
                    <h2 class="page-section-heading text-secondary d-inline-block mb-0">PROJECTS</h2>
                </div>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                </div>



                {% comment %} <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4" data-toggle="modal" data-target="#Modal{{project.priority}}">
                      <div class="card">
                        {% if project.image %}<img class="card-img-top" src="{{ project.image.url }}">{% endif %}
                            <div class="card-body">
                          <h4 class="card-title">
                            <a>{{ project.title }}</a>
                          </h4>
                          <p class="card-text">{{ project.overview }}</p>
                          {% for skills in project.project_skills.all %}<span class="card-footer badge-box badge-dark m-1">{{ skills }}</span>{% endfor %}
                        </div>
                      </div>
                </div> {% endcomment %}








                <!-- Projects Section Content-->
                <div class="row mx-md-n5 align-items justify-content-center">
                        {% comment %} <div class="align-items-center"> {% endcomment %}

                            {% for project in projects_list %}
                                {% comment %} <div class="card p-0 pb-3" data-toggle="modal" data-target="#Modal{{project.priority}}">
                                    {% if project.image %}<img class="card-img-top" src="{{ project.image.url }}">{% endif %}
                                    <div class="admin/foliopage/project/card-body">
                                        <h5 class="card-title m-2">{{ project.title }}</h5>
                                        <p class="card-text m-2">{{ project.overview }}</p>
                                        {% for skills in project.project_skills.all %}<span class="badge-box badge-dark m-1">{{ skills }}</span>{% endfor %}
                                    </div>
                                </div> {% endcomment %}



                                <div class="row text-align-center">
                                    <div class="col-lg-4 col-sm-6 mb-4" data-toggle="modal" data-target="#Modal{{project.priority}}">
                                        <div class="card mr-2 ml-2">
                                            {% if project.image %}<img class="card-img-top" src="{{ project.image.url }}">{% endif %}
                                            <div class="card-body">
                                                <h4 class="card-title">
                                                    <a>{{ project.title }}</a>
                                                </h4>
                                                <p class="card-text">{{ project.overview }}</p>
                                                {% for skills in project.project_skills.all %}<span class="badge-box badge-dark m-1">{{ skills }}</span>{% endfor %}    
                                            </div>
                                        </div>
                                    </div>
                                </div>




                                
                                <div class="modal fade" id="Modal{{project.priority}}" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal0Label" aria-hidden="true">
                                    <div class="modal-dialog modal-xl" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
                                            </div>
                                            <div class="modal-body text-center">
                                                <div class="container">
                                                    <div class="row justify-content-center">
                                                        <div class="col-lg-8">
                                                            <!-- Portfolio Modal - Title-->
                                                            <h2 class="portfolio-modal-title text-secondary mb-0">{{ project.title }}</h2>
                                                            <!-- Icon Divider-->
                                                            <div class="divider-custom">
                                                                <div class="divider-custom-line"></div>
                                                            </div>
                                                            <!-- Portfolio Modal - Image-->{% if project.image %}<img class="img-fluid rounded mb-3" src="{{ project.image.url }}" alt="Log Cabin"/>{% endif %}
                                                            <!-- Portfolio Modal - Text-->
                                                            <p>{{ project.description }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-primary m-2" href="#" data-dismiss="modal"><i>Close</i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                                            
                                {% endfor %}
                            {% comment %} </div> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- SKILLS SECTION -->
        <section class="page-section" id="skills">
            <div class="container">
                <!-- Skills Section Heading-->
                <div class="text-center">
                    <h2 class="page-section-heading text-secondary d-inline-block mb-0">SKILLS</h2>
                </div>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Skills Section Content-->
                <div class="row justify-content-center">
                        <div class="d-flex flex-column align-items-center">
                            {% for skill in skill %}
                                <div class="card btn p-0">  <!-- data-toggle="modal" data-target="#{{skill.name}}Modal" -->
                                    {% if skill.image %}<img class="card-img-top" src="{{ skill.image.url }}">{% endif %}
                                    <div class="card-body">
                                        <h5 class="card-title">{{ skill.title }}</h5>
                                        <p class="card-text">{{ skill.overview }}</p>
                                    </div>
                                </div>                                                       
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ABOUT SECTION -->
        <section class="page-section bg-primary text-white mb-0" id="about">
            <div class="container">
                <!-- About Section Heading-->
                <div class="text-center">
                    <h2 class="page-section-heading d-inline-block text-white">ABOUT</h2>
                </div>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row">
                    <div class="col text-center ml-auto">
                        <p class="pre-wrap lead">{{ person.about }}</p>
                    </div>
                </div>
            </div>
        </section>
       
       
       
       




       





    {% comment %} {{ projects.title }} {% endcomment %}

{% endfor %}
{% endblock %}
























